{% extends "web/vglist/base.html" %}

{% load static %}

{% block title %}{{ block.super }} - 404 Error (Page not Found){% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock head %}

{% block base %}
<body style="background: url({% static 'img/404bg2.png' %}) no-repeat center center fixed;">
	<div class="container">
		<div class="description">
			<h1>Error 404! Oops... Something went wrong :'(</h1>
			<h2>You got an error 404 (Not Found) when trying to access something. Well, that's weird and kinda reminds me of all 
			those weird games ever released... yeah, like the ones in the background.</h2>
			<h3>This happend because the url path that you entered 
			couldn't be found on our servers. But hey, maybe you can try something different... 
			Try going back to our <a href="{% url 'vglist.views.home' %}">Home</a>, for example.</h3>
		</div>
	</div>
</body>
{% endblock base %}
