{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}
{% load inaccurate_date %}

{% block title %}{{ block.super }} - Administrator Panel{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/panel.css' %}">
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}


{% block base %}
	<div class="container" style="min-width:1200px">
		<div class="row" style="margin-bottom:2em;">
			<div class="col-md-12 description" style="min-height:100% !important;">
				<h1>Welcome to VGList Panel, {{ user.username }}!</h1>
				<p style="font-size:19px;font-weight:lighter;margin-top:-20px;margin-bottom:10px;">Use this panel to post news and manage existing ones!</p>
				<div class="panel_left_bar">
					<table class="table table-hover">
						<tr class="success" style="cursor:pointer;" onClick="window.location = '{% url 'vglist.views.create_news' %}'">
							<td>Create News</td>
						</tr>
						<tr class="success" style="cursor:pointer;" onClick="window.location = '{% url 'vglist.views.panel' %}'">
							<td>Published News List</td>
						</tr>
						<tr class="warning" style="cursor:pointer;" onClick="window.location = '{% url 'vglist.views.news_drafts' %}'">
							<td>View Drafts</td>
						</tr>
					</table>

				</div>
				
				<div class="panel_right_bar">
					<center>
						<form method="POST">
							<input type="text" name="title" placeholder="Place your title here" class="register" />
							<textarea name="body" placeholder="News text body here..." ></textarea>
							<input type="checkbox" style="display:none;" name="saveandpublish" id="sp" />
							<input type="submit" value="Save and Publish" onClick="$('#sp').attr('checked','checked');" />
							<input type="submit" value="Save Draft" />
						</form>
					</center>
				</div>				
			</div>
		</div>
	</div>
	
{% endblock base %}

{% block footer_min_width %}1200{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
	<script>
	</script>
{% endblock %}


