{% extends "web/vglist/base_edit_pages.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %} {{ block.super }} - Edit Studio - {{ studio.name }}{% endblock %}

{% block base %}
	{{block.super}}
	
	<div class="container">
		<div class="row" style="margin-bottom:2em;">
			<div class="description" style="text-align:center;">

				<h1>Edit Studio</h1>
				{% if has_permission.vglist.controller.edit_studio %}
					<form method="POST" enctype="multipart/form-data">
						
						<h3>Studio Name:</h3>
						<input type='text' value="{{ studio.name }}" name='name' class="register">
						<br />
						
						<h3>Studio Description</h3>
						<textarea name="synopsis" cols='30' rows='10'>{{ studio.synopsis }}</textarea>
						<br />
						<br />

						<label><b>Source Name:</b></label> <input type="text" name="synopsis_source_name" value="{{ studio.synopsis_source_name }}" placeholder="Description's source name" class="register" style="height:30px;" />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<label><b>Source Link:</b></label> <input type="text" name="synopsis_source_link" value="{{ studio.synopsis_source_link }}" placeholder="Description's source link" class="register" style="height:30px;" />
						<br />
						<br />
												
						<h3>Image:</h3>
						<img src="{{ studio.image|img_url|default:no_image }}" class="big_image" />
						<p>Current Image</p>
						<input type='file' name="image" class="simpleButton">
						
						<br />						
						<br />
						<input type='submit' value="Edit Studio" class="simpleButton">
					</form>

				{% else %}
					<b> IMPORTANT!</b> You don't have the permission to Edit/Add info on VGList just yet. We're currently on read-only mode while still getting some stuff ready, so hang in there!<br>

					Sincerely, <br>
					VGList Staff
				{% endif %}
			</div>
		</div>
	</div>

{% endblock base %}
