{% extends "web/vglist/base_edit_pages.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %} {{ block.super }} - Edit Game - {{ game.name }}{% endblock %}

{% block base %}
	{{block.super}}
	
	<div class="container">
		<div class="row" style="margin-bottom:2em;">
			<div class="description" style="text-align:center;">

				<h1>Edit Game</h1>
				{% if has_permission.vglist.controller.edit_game %}
					<form method="POST" enctype="multipart/form-data" onSubmit="multiForm_Select_ALL('cur_developers'); multiForm_Select_ALL('cur_pubs'); daydefaultvalue();">
						
						<h3>Game Name:</h3>
						<input type='text' value="{{ game.game_global.name }}" name='name' class="register">
						<br />
						
						<h3>Game Synopsis</h3>
						<textarea name="synopsis" cols='30' rows='10'>{{ game.game_global.synopsis }}</textarea>
						<br />
						<br />
						
						<label><b>Source Name:</b></label> <input type="text" name="synopsis_source_name" value="{{ game.game_global.synopsis_source_name }}" placeholder="Description's source name" class="register" style="height:30px;"/> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<label><b>Source Link:</b></label> <input type="text" name="synopsis_source_link" value="{{ game.game_global.synopsis_source_link }}" placeholder="Description's source link" class="register" style="height:30px;" />
						<br />
						<br />

						<h3>Local Version's Name:</h3>
						<input type='text' value="{{ game.name }}" name="local_name" class="register">
						<br />

						<h3>Local Region's Name:</h3>
						<input type="text" value="{{ game.region }}" name="region" class="register" />
						
						<h3>Boxart:</h3>
						<img src="{{ game.boxart|img_url|default:no_image }}" class="big_image" />
						<p>Current Boxart</p>
						<input type='file' name="boxart" class="simpleButton">
						<br />
						
						<h3>Release Date:</h3>
							<b>Format: YYYY/MM/DD </b> 
							<input type="text" name="year" placeholder=" - Year -" value="{{ game.release_date.year }}" style="width:62px;"/> / 
							
							<select id="month" name="month">
								<option value="00">- Month -</option>
								<option value="00">Unknown</option>
								<option value="01">January</option>
								<option value="02">February</option>
								<option value="03">March</option>
								<option value="04">April</option>
								<option value="05">May</option>
								<option value="06">June</option>
								<option value="07">July</option>
								<option value="08">August</option>
								<option value="09">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>				
							</select> / 
							
							<input type="text" name="day" placeholder=" - Day - " value="{{ game.release_date.day }}" style="width:62px;" />
						<br />
						
						<h3>Developers:</h3>
						<p>Hold CTRL or Command (MAC) to select multiple entries:</p>
						<input type="text" placeholder="Search Developers" onkeyup="get_input_list(this,'developers')" />
						<select multiple class="input_preview_results" id="developers"> 
						</select> <input type="button" value="Add" onClick="add_dev_to_list()" />
						
						<p>Current Developers assigned to {{ game.name }}:<br> <i>Click to remove them from current list</i></p>
						<select multiple name="developers" class="input_preview_results" id="cur_developers" onClick="remove_dev()">
							{% for i in game.developers.all %}
								<option value="{{ i.pk }}">{{ i.name }}</option>
							{% endfor %}
						</select>
						</p>
						<br />
						

						<h3>Publishers:</h3>
						<p>Hold CTRL or Command (MAC) to select multiple entries:</p>
						<input type="text" placeholder="Search Publishers" onkeyup="get_input_list(this,'publisher')" />
						<select multiple class="input_preview_results" id="publisher"> 
						</select> <input type="button" value="Add" onClick="add_pub_to_list()" />
						
						<p>Current Publishers assigned to {{ game.name }}:<br> <i>Click to remove them from current list</i></p>
						<select multiple name="publishers" class="input_preview_results" id="cur_pubs" onClick="remove_pub()">
							{% for i in game.publishers.all %}
								<option value="{{ i.pk }}">{{ i.name }}</option>
							{% endfor %}
						</select>
						</p>
						<br />
						
						<h3>Platform:</h3>
						<input type="text" id="platform_search" placeholder="Search here"/>
						
						<br />
						<br />
						<input type='submit' value="Edit Game" class="simpleButton">
					</form>

				{% else %}
					<b> IMPORTANT!</b> You don't have the permission to Edit/Add info on VGList just yet. We're currently on read-only mode while still getting some stuff ready, so hang in there!<br>

					Sincerely, <br>
					VGList Staff
				{% endif %}
			</div>
		</div>
	</div>

{% endblock base %}

{% block javascript %}
	{{ block.super }}
	
	<script src="{% static 'js/multiple_input.js' %}"></script>
	<script>
		
		//Set default selected month to current value
		{% if game.release_date.month %}
			month = {{ game.release_date.month }}
		{% else %}
			month = false
		{% endif %}
		if (month) {
			if(month < 10){
				month = '0'+month;
			}
			$('#month').val(month).change();
		}
		
		
				
		var url = "{% url 'vglist.views.platform' 0 %}"
		$("#platform_search").prefix_search("{% url 'vglist.views.platforms_by_prefix' %}",{'name': 'platform',
			'initial_item': {
				'pk': '{{ game.console|default:0 }}',
				'name': '{{ game.console.name|default:"Unknown" }}',
			},
			'extra_items': [
				{
					'pk': '0',
					'name': 'Unknown',
				}
			],
			'span_content': "<a href='" + url.replace(/0/g,"%id%") + "' target='__blank'> %name%"});
			
	</script>
{% endblock javascript %}
