{% load static %}
{% load tag_extensions %}
{% load permissions %}
{% load_permissions at has_permission %}

{% static 'img/defaults/user.png' as no_avatar %}
{% static 'img/defaults/news.png' as no_news_banner %}
{% static 'img/noimage.png' as no_image %}
{% static 'img/defaults/no_banner.jpg' as no_banner %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VGList - v0.2</title>
        <meta name="description" content="VGList is a video games database and social network that you can list and rate the games that you played.
        wish to play or dropped.">
        <meta name="keywords" content="video game, video game social network, gamer, game list, gamer network,
        playstation, nintendo, sony, microsoft, linux, mac, steam, games, social games, game listed, indie games network,
        indie game, hardcore gaming, soft games, facebook games, gamer world, mainstream games, top games, ranking games,
        online games, new games, old games, atari, games generation, vglist, mygamelist">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/home.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/grid.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/bases/overlay.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
        <link href="{% static 'icons/favicon.ico' %}" rel="icon" type="image/x-icon" />		
    </head>
    <body>
		<div class="row1_container" style="background-image: url('{% static 'img/home1.jpg' %}'); background-repeat: no-repeat; background-position: center;background-size:cover;">
			<div class="home_header">
				Already on VGList? <img src="{% static 'icons/login.png' %}" /> <a href="{% url 'vglist.views.login' %}">Login</a>
			</div>
			<div class="row1_content">
				<div class="middle">
					<div class="h1_container">
						<h1>VGList Project</h1>
						<h3>Videogames Database and Social Network</h3>
					</div>

					<div class="row_1_register">
						Keep track of your played games, rate them and meet other gamers! Join VGList's nice community today!
						<div>
							<input type="button" value="Register now"  onClick="window.location='{% url 'vglist.views.register' %}';"/>
							<p>If you already are a VGList member, you can <a href="{% url 'vglist.views.login' %}">Login here</a>. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row2_container">
				<div class="row2_content">
					<div class="news">
						<h2>Latest News <img src="{% static 'icons/arrowdown.png' %}" /></h2>
						<div class="hr"></div>
						{% for i in news %}
							<div class="news_entry" onClick="window.location = '{% url 'vglist.views.view_news' i.id %}';">
								<h3>{{ i.title }} <span class="date"><img src="{% static 'icons/calendar.png' %}"/>{{ i.time|date:"M, d Y - H:i" }}</span></h3>
								<p class="author"><img src="{% static 'icons/user.svg' %}" />Author: <a href="{% url 'vglist.views.profile' i.poster.username%}">{{ i.poster.username }}</a> </p>
								<p class="text_preview">{% if i.body|length > 60 %}{{ i.body|slice:":60" }}... Click to see more{% else %}{{ i.body }}{% endif %}</p>
							</div>
						{% endfor %}
					</div>
					<form action="{% url 'vglist.views.view_all_news' %}">
						<input type="submit" class="blockbtn" value="See all news" />
					</form>
				</div>
			</div>
			
			<div class="row3_container" style="background-image: url('{% static 'img/home4.jpg' %}'); background-repeat: no-repeat; background-position: center;background-size:cover;">
				<div class="row3_content">
					<div class="middle">
						<h2>Gotta find 'em all!</h2>
						<div class="search_container">
							<p>Make queries to find Games, Platforms, Studios and Users. We have an amazing collection of games
							at our database, make sure to check them out. For now, we have 
							<u>{{ statistics.gameglobal_count }}</u> game entries!</p>
							
							<div class="search_inputs">
								<form method="GET" action="{% url 'vglist.views.search' %}">
									<input type="text" class="inptbootstraplike"  name="key" placeholder="Search..." style="width:70%;"/> 
									
									<select class="selectpicker" name="q">
										<option value="game" selected>Games</option>
										<option value="platform">Platforms</option>
										<option value="studio">Studios</option>
										<option value="user">Users</option>
									</select>
									<button type="submit" class="btn" style="position:relative; top:-1px;">Search</button>
								</form>
							</div>
						</div>	
					</div>
				</div>
			</div>
			
			<div class="row4_container">
				

				<div class="wrapper">
					<div class="subcontainer">
					
						<div class="featurette left">
							<h1>Profile, friends and comments system!</h1>
							<p>Customize your profile, comment games, users, platforms, studios and make friends! </p>
						</div>
						<div class="right">
							<img src="{% static 'img/profile.png' %}" />
						</div>
				
					</div>
				</div>
				

				<div class="wrapper" >
					<div class="subcontainer">


						<div class="left">
							<img src="{% static 'img/search.png' %}" />
						</div>
						<div class="featurette right">
							<h1>A huge gaming database!</h1>
							<p>More than 20k games registered at our database that can be found by advanced queries. Search for
							all the games released between 1992 and 1995 for SNES by Capcom, for example. </p>
						</div>


					</div>
				</div>
				


				<div class="wrapper" >
					<div class="subcontainer">
						

						<div class="featurette left">
							<h1>Make a list!</h1>
							<p>Since we are all procrastinators, list stuff is our essence. Keep track of your games and rate
							them. </p>
						</div>
						<div class="right">
							<img src="{% static 'img/list.png' %}" />
						</div>
					

					</div>
				</div>
				
				

				<div class="wrapper">
					<div class="subcontainer">
						

						<div class="left">
							<img src="{% static 'img/dog.jpg' %}" />
						</div>
						<div class="featurette right">
							<h1 style="margin-top:5px;">Under construction, but constantly updated!</h1>
							<p>Currently, we are working on vglist. We are aiming high to make this the best gaming encyclopedia out there. Be
							patient, we are coding! </p>
						</div>
					


					</div>
				</div>
				
				





				
				
				</div><!-- END ROW 4 -->



			<div class="clear"></div>

			



			<footer class="footer">
				<div class="footer_shortcuts">
					<a href="{% url 'vglist.views.home' %}">Home</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.view_all_news' %}">News</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.register' %}">Register</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.staff' %}">Staff</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.about' %}">About</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.policy' %}">Privacy Policy</a> <a class="footer_bullet">&#8226;</a> <a href="{% url 'vglist.views.contact' %}">Contact</a>			
				</div>
				<p>2014 &#8226; VGList Games Database and Social Network  &#8226; <a href='http://vglist.net/'>vglist.net</a> &#8226; <a href='http://vglist.org/'>vglist.org</a> &#8226; <a href='http://vglist.info/'>vglist.info</a></p>
			</footer>






			</div> <!-- ROW 1 CONTAINER -->



	</body>
	
	<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53231363-1', 'auto');
		ga('send', 'pageview');
	</script>
	
	<script src="{% static 'js/extensions/scroll_into_view.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{% static 'js/extensions/bootstrap-select.js' %}"></script>

	<script type="text/javascript">
		    $('.selectpicker').selectpicker();
			$('.selectpicker').selectpicker({
				style: 'btn-info',
				size: 4
			});
	</script>

</html>
