{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}
{% load inaccurate_date %}

{% block title %}{{ block.super }} - News - {{ news.title }} {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}


{% block base %}
	<div class="container" style="min-width:1200px">
		<div class="row" style="margin-bottom:2em;">
			<div class="col-md-12 description">
				<h1>{{ news.title }}</h1>
				<p id="news_subtitle">Posted by: <a href="{% url 'vglist.views.profile' news.poster.username %}">{{ news.poster.username }}</a> @ {{ news.time }}</p>
				<p id="news_body" style="white-space:pre-line;">{{ news.body }}</p>
			</div>
		</div>
		<div class="comments_container" id="comments-anchor">
		</div>
	</div>
	
{% endblock base %}

{% block footer_min_width %}1200{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
	
	<script>
		document.ready = function(){
	
			//COMMENTS PLUGIN CALL
			var comments = [];
				
			{% if user.is_authenticated %}
				var options = {'login_token':true};
			{% else %}
				var options = {'login_token':false};
			{% endif %}
			
			{% for i in news.comments.all reversed %}
				{% autoescape on %}
					comments.push({
						'commenter': '{{ i.commenter.user.username }}',
						'commenter_avatar': '{{ i.commenter.user.thumbnail|img_url|default:no_image }}',
						'commenter_profile_url': "{% url 'vglist.views.profile' i.commenter.user.username %}",
						'comment_text':'{{ i.comment.text|escapejs }}',
						'comment_date':{
							'timesince':'{{ i.comment.post_time|timesince }}',
							'year': '{{ i.comment.post_time.year }}',
							'month':'{{ i.comment.post_time.month }}',
							'month_text':'{{ i.comment.post_time|date:"M" }}',
							'day': '{{ i.comment.post_time.day }}',
							'hour': '{{ i.comment.post_time|date:"H" }}',
							'minute':'{{ i.comment.post_time|date:"i" }}',
						}
					});
				{% endautoescape %}
			{% endfor %}
			
			$('.comments_container').vglistComments(comments, "{% url 'vglist.views.add_comment_to_news' news.id %}", '{{ user.thumbnail|img_url|default:no_avatar }}', options);
		}

	</script>
{% endblock %}

