{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}
{% load inaccurate_date %}

{% block title %}{{ block.super }} - Administrator Panel{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/panel.css' %}">
{% endblock %}


{% block base %}
	<div class="container" style="min-width:1200px">
		<div class="row" style="margin-bottom:2em;">
			<div class="col-md-12 description" style="min-height:100% !important;">
				<h1>Welcome to VGList Panel, {{ user.username }}!</h1>
				<p style="font-size:19px;font-weight:lighter;margin-top:-20px;margin-bottom:10px;">Use this panel to post news and manage existing ones!</p>
				<div class="panel_left_bar">
					<table class="table table-hover">
						<tr class="success" style="cursor:pointer;" onClick="window.location = '{% url 'vglist.views.create_news' %}'">
							<td>Create News</td>
						</tr>
						<tr class="success" style="cursor:pointer;" onClick="window.location = '{% url 'vglist.views.panel' %}'">
							<td>Published News List</td>
						</tr>
						<tr class="warning" style="cursor:pointer;" onClick="window.location = '{% url 'vglist.views.news_drafts' %}'">
							<td>View Drafts</td>
						</tr>
					</table>

				</div>
				
				<div class="panel_right_bar">
					<table class="table table-hover">					
						<thead>
							<tr>
								<th>#</th>
								<th>Title</th>
								<th>Author</th>
								<th>Date</th>
							</tr>
						</thead>
											
						<tfoot>
							<tr>
								  <td></td>
								  <td></td>
								  <td></td>
								  <td><a href="#">Back to Top</a></td>
							</tr>
						</tfoot>					
						<tbody>
							{% for i in news reversed %}
								<tr>
									<td>{{ i.id }}</td>
									<td><b><a href="{% url 'vglist.views.view_news' i.id %}">{{ i.title }}</a></b></td>
									<td>{{ i.poster.username }}</td>
									<td>{{ i.time }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				
				</div>				
			</div>
		</div>
	</div>
	
{% endblock base %}

{% block footer_min_width %}1200{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
	<script>
	</script>
{% endblock %}

