{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %}{{ block.super }} - Platform - {{ platform.name }} {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/platform.css' %}">
	<link rel="stylesheet" href="{% static 'css/image_overlay.css' %}">
{% endblock %}

{% block context_menu %}
	<div class="context_menu_container">
		<div class="platform_menu">
			<h2 unselectable="on">PLATFORM</h2>
		</div>
		
		<div class="platform_dropdown_safetymousearea"><div class="platform_arrow"></div></div>
		
		
		<div class="platform_dropdown">
			{% if has_permission.vglist.controller.edit_platform %}
				<p class="data_href_link" data-href="{% url 'vglist.views.edit_platform' platform.id %}">EDIT PLATFORM</p>
			{% else %}
				<p><strike>EDIT PLATFORM</strike></p>
			{% endif %}
		</div>		
	</div>
{% endblock %}

{% block hidden %}
	<div class="image_overlay">
		<div class="image_wrapper">
			<img src="{{ platform.image|img_url|default:no_image }}"></img><br>
		</div>
		<div class="subtitle_wrapper">
			{{ platform.name }}
		</div>
	</div>
{% endblock %}

{% block base %}
<div class="container" style="min-width:1200px">
	<div class="row" style="margin-bottom:2em;">
		<div class="col-md-3">
			<img src="{{ platform.regular|img_url|default:no_image }}" class="big_image" id="platform_image" title="{{ platform.name }}"/>
		</div>
			
		<div class="col-md-9 description">
			<h1>{{ platform.name }}</h1>
			<b>Manufactured by:</b>
		
			{% if platform.manufacturer_id %}
				<a href="{% url 'vglist.views.studio' platform.manufacturer_id %}">  {{ platform.manufacturer }}</a>
			{% else %}
				Unknown
			{% endif %}
			
			<p style="white-space:pre-line;">{{ platform.synopsis }}</p>

			{% if platform.synopsis_source_name or platform.synopsis_source_link %}
				<p style="color:#777; margin-top:-10px; font-size:12px;text-align:right; margin-right:15px;"> 
					Source: <i>{{ platform.synopsis_source_name }}
					{% if platform.synopsis_source_link %} ({{ platform.synopsis_source_link }}) {% endif %}</i>
				</p>
			{% endif %}
		</div>
	</div>
	
		

	<div class="comments_container">	
	</div>
	
			
</div>
{% endblock base %}

{% block footer_min_width %}1200{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
	<script>
		document.ready = function (){
			var comments = [];
			
			{% if user.is_authenticated %}
				var options = {'login_token':true};
			{% else %}
				var options = {'login_token':false};
			{% endif %}

			{% for i in platform.comments.all reversed %}
				{% autoescape on %}
					comments.push({
						'commenter': '{{ i.commenter.user.username }}',
						'commenter_avatar': '{{ i.commenter.user.thumbnail|img_url|default:no_image }}',
						'commenter_profile_url': "{% url 'vglist.views.profile' i.commenter.user.username %}",
						'comment_text':'{{ i.comment.text|escapejs }}',
						'comment_date':{
							'timesince':'{{ i.comment.post_time|timesince }}',
							'year': '{{ i.comment.post_time.year }}',
							'month':'{{ i.comment.post_time.month }}',
							'month_text':'{{ i.comment.post_time|date:"M" }}',
							'day': '{{ i.comment.post_time.day }}',
							'hour': '{{ i.comment.post_time|date:"H" }}',
							'minute':'{{ i.comment.post_time|date:"i" }}',
						}
					});
				{% endautoescape %}
			{% endfor %}
			
			$('.comments_container').vglistComments(comments, "{% url 'vglist.views.add_comment_to_platform' platform.id %}", '{{ user.thumbnail|img_url|default:no_image }}', options);
			
			
			
			$("#platform_image").click(function(e)
			{
				$(get_overlay()).html($('.image_overlay'))
				show_overlay()
			})
		};

	$(".context_menu_container").mouseover(function(){
		$(".platform_dropdown").show();
		$(".platform_arrow").show();
	
	});
	
		$( ".context_menu_container" ).mouseleave(function() {
			$(".platform_dropdown").hide();
			$(".platform_arrow").hide();
		});
	</script>
{% endblock %}
