{% extends "web/vglist/base.html" %}

{% load static %}

{% block title %}{{ block.super }} - Privacy Policy {% endblock %}

{% block base %}
		<div class="container">
			<div class="description">
				<center><img src="{% static 'img/logo.png' %}" style="max-height:120px;" /></center>
				<hr />
				<h1>Privacy Policy</h1>
				<p style="white-space:pre-line;">
					As you may know, VGLIST has the purpose of gathering information about games, organize it and create a community around our database. You can use VGList to search, to communicate with other people or to add new content to our database. In this section, we'll discuss details about our privacy policy and terms of use. Please, read this section carefully before using our services.
				</p>
				<br/>
				<h3>
					What information does VGList collect?
				</h3>
				<p style="white-space:pre-line;">
					To use some of the VGLIST's functions, we'll require a registration on our website. We collect the information to provide better services. We do not collect any information that isn't listed down here and, for your safety, your data is collected anonymously:</p>
				</p>
				<ul>
					<li>Email Address</li>
					<li>Logged in Time</li>
				</ul>
			
				<p style="white-space:pre-line;">
					These info will be kept private unsless stated otherwise in your user preferences.
				</p>
				
				<h3>
					About website updates:
				</h3>
				<p style="white-space:pre-line;">
					We reserve the right to update our website by modifying, adding or removing features. These changes may be made without any notification.
					
					Any change in our privacy policy will require you to agree with it again in order to keep using your account.
				</p>
				
				<h3>
					About user behaviour:
				</h3>
				<p style="white-space:pre-line;">
					In order to avoid being penalized, it is recommended that you follow the tips below:
					
					<ul>
						<li><b>Copyrighted material: </b> Please avoid posting any copyrighted material, such as pirate games or anything else that may lead to copyright infringement</li>
						<li><b>Offensive Content:</b> Please avoid unjustified offenses to any person or culture, such as xenophobic or homophobic comments.</li>
					</ul>
					
					Users can be banned temporarly or permanently at any time without any notification or justification.
				</p>
			</div>
		</div>
{% endblock base %}
