{% extends "web/vglist/base_profile.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %}{{ block.super }} -  {{ profile.username }}'s Profile {% endblock %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block profile_content %}
	<div class="profilebio_container">
		{% if profile.bio %}
			<p>{{ profile.bio }}</p>
		{% else %}
			<div class="bio_not_written">
				<p>{{ profile.username }}'s bio has not been written yet!</p>
			</div>
		{% endif %}
	</div>
{% endblock profile_content %}

{% block comments %}
	<div class="comments_container">
	</div>
{% endblock comments %}
	

{% block javascript %}
	{{ block.super}}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
		<script>
			document.ready = function(){
			
				//COMMENTS PLUGIN CALL
				var comments = [];
					
				{% if user.is_authenticated %}
					var options = {'login_token':true};
				{% else %}
					var options = {'login_token':false};
				{% endif %}
				
				{% for i in profile.comments reversed %}
					{% autoescape on %}
						comments.push({
							'commenter': '{{ i.commenter.user.username }}',
							'commenter_avatar': '{{ i.commenter.user.thumbnail|img_url|default:no_image }}',
							'commenter_profile_url': "{% url 'vglist.views.profile' i.commenter.user.username %}",
							'comment_text':'{{ i.comment.text|escapejs }}',
							'comment_date':{
								'timesince':'{{ i.comment.post_time|timesince }}',
								'year': '{{ i.comment.post_time.year }}',
								'month':'{{ i.comment.post_time.month }}',
								'month_text':'{{ i.comment.post_time|date:"M" }}',
								'day': '{{ i.comment.post_time.day }}',
								'hour': '{{ i.comment.post_time|date:"H" }}',
								'minute':'{{ i.comment.post_time|date:"i" }}',
							}
						});
					{% endautoescape %}
				{% endfor %}
	
				$('.comments_container').vglistComments(comments, "{% url 'vglist.views.add_comment_to_profile' profile.username %}", '{{ user.thumbnail|img_url|default:no_image }}', options);
		}
	</script>

{% endblock %}
