{% extends "web/vglist/base.html" %}

{% load static %}
{% load tag_extensions %}

{% block title %}{{ block.super }} - Studio - {{ studio.name }} {% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/studio.css' %}">
	<link rel="stylesheet" href="{% static 'css/image_overlay.css' %}">
{% endblock %}

{% block context_menu %}
	<div class="context_menu_container">
		<div class="studio_menu">
			<h2 unselectable="on">STUDIO</h2>
		</div>
		
		<div class="studio_dropdown_safetymousearea"><div class="studio_arrow"></div></div>
		
		
		<div class="studio_dropdown">
			{% if has_permission.vglist.controller.edit_studio %}
				<p class="data_href_link" data-href="{% url 'vglist.views.edit_studio' studio.id %}">EDIT STUDIO</p>
			{% else %}
				<p><strike>EDIT STUDIO</strike></p>
			{% endif %}
		</div>		
	</div>
{% endblock %}

{% block hidden %}
	<div class="image_overlay">
		<div class="image_wrapper">
			<img src="{{ studio.image|img_url|default:no_image }}"></img><br>
		</div>
		<div class="subtitle_wrapper">
			{{ studio.name }}
		</div>
	</div>
{% endblock %}

{% block base %}

<div class="container" style="min-width:1200px">
	<div class="row" style="margin-bottom:2em;">
		<div class="col-md-3">
			<img src="{{ studio.image|img_url|default:no_image }}" class="big_image"  id="studio_image" title="{{ studio.name }}"/>
		</div>
		
		<div class="col-md-9 description">
			<h1>{{ studio.name }}</h1>
			<p style="white-space:pre-line;">{% if studio.synopsis.text %}{{ studio.synopsis.text }}{% else %} {{ studio.name }} doesn't have a description yet... {% endif %}</p>
			{% if studio.synopsis_source_name or studio.synopsis_source_link %}
				<p style="color:#777; margin-top:-10px; font-size:12px;text-align:right; margin-right:15px;">
					Source: <i>{{ studio.synopsis_source_name }}
					{% if studio.synopsis_source_link %} ({{ studio.synopsis_source_link }}) {% endif %}</i>
				</p>
			{% endif %}

		</div>
	</div>
	<div class="comments_container"></div>
</div>
{% endblock base %}

{% block footer_min_width %}1200{% endblock %}


{% block javascript %}
	{{ block.super }}
	<script src="{% static 'js/extensions/comments.js' %}"></script>
	<script>
		document.ready = function ()
		{
			$("#studio_image").click(function(e)
			{
				$(get_overlay()).html($('.image_overlay'))
				show_overlay()
			})
			
			//COMMENTS PLUGIN CALL
			var comments = [];
				
			{% if user.is_authenticated %}
				var options = {'login_token':true};
			{% else %}
				var options = {'login_token':false};
			{% endif %}
			
			{% for i in studio.comments.all reversed %}
				{% autoescape on %}
					comments.push({
						'commenter': '{{ i.commenter.user.username }}',
						'commenter_avatar': '{{ i.commenter.user.thumbnail|img_url|default:no_image }}',
						'commenter_profile_url': "{% url 'vglist.views.profile' i.commenter.user.username %}",
						'comment_text':'{{ i.comment.text|escapejs }}',
						'comment_date':{
							'timesince':'{{ i.comment.post_time|timesince }}',
							'year': '{{ i.comment.post_time.year }}',
							'month':'{{ i.comment.post_time.month }}',
							'month_text':'{{ i.comment.post_time|date:"M" }}',
							'day': '{{ i.comment.post_time.day }}',
							'hour': '{{ i.comment.post_time|date:"H" }}',
							'minute':'{{ i.comment.post_time|date:"i" }}',
						}
					});
				{% endautoescape %}
			{% endfor %}

			$('.comments_container').vglistComments(comments, "{% url 'vglist.views.add_comment_to_studio' studio.id %}", '{{ user.thumbnail|img_url|default:no_image }}', options);

		};
		
		$(".context_menu_container").mouseover(function(){
			$(".studio_dropdown").show();
			$(".studio_arrow").show();
		
		});
		
		$( ".context_menu_container" ).mouseleave(function() {
			$(".studio_dropdown").hide();
			$(".studio_arrow").hide();
		});
	</script>
{% endblock %}
