<html>
<head>
	
	<title>VGList Project - Newsletter</title>
	<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
	
</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">

<table cellspacing="0" border="0" style="background: #f1f0e8;" cellpadding="0" width="100%">
	<tr>
		<td>
			<table cellspacing="0" bgcolor="#484845" width="100%" cellpadding="0">
				<tr>
					<td height="50" valign="top">
						<table cellspacing="0" align="center" width="600" cellpadding="0">
							<tr>
								<td class="header-text" align="center" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px;">
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td>
			<table cellspacing="0" width="100%" cellpadding="0">
				<tr>
					<td valign="top">
						<table cellspacing="0" align="center" width="600" cellpadding="0">
							<tr>
								<td class="main-title" style="padding: 0 20px; font-size: 28px; text-align: center; font-family: Georgia; text-transform: uppercase; letter-spacing: 6px;">
									<br />The VGList Newsletter #0<br />
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" align="center" width="600" cellpadding="0">
							<tr>
								<td class="date" valign="top" style="color: #999; text-transform: uppercase; text-align: center; font-size: 11px; font-family: Verdana;">
									<br />{{ today|date:"F d, o" }}<br /><br />
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	
	<tr>
		
		<td valign="top">

			<table cellspacing="0" border="0" align="center" style="background: #fff;" cellpadding="0" width="600">
				
				<tr>
					<td valign="top" height="2" bgcolor="aaaaaaa">
											
					</td>
				</tr>
						
				<tr>
					<td>
						<table cellspacing="0" border="0" height="420" cellpadding="0" width="600">
							<tr>
								<td class="article-title" height="45" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="600" colspan="2">
									<br />Database updates and version 0.1.6!<br /><br />
								</td>
							</tr>
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
									Greetings, <b>{{ username }}</b>!<br /><br />
 
									We are sending you this one-time email with information that we trust you all should know.<br /><br/>
									 
									First of all, we finally have a decent amount of info in our database. We want to thank everyone who already started adding some entries and let you know that these entries were not replaced by new ones.
									<br /><br />
									However, for this very reason we had to temporarily turn off some of our database modifying features while we work out a nice way to validate any info submitted by other users. We plan on releasing this on our next big release.
									All the info we managed to get still has some problems, but it should be enough to start things up!
									
									<br /><br />
									
									<i>Thank you for your support, <br />
									VGList Staff.</i>
								</td>
							</tr>
						</table>
					</td>
				</tr>			
			</table>
			
		</td>
	
	</tr>
	<tr>
		<td valign="top">
			<table cellspacing="0" width="100%" cellpadding="0">
				<tr>
					<td valign="top">
						<table cellspacing="0" border="0" align="center" height="202" cellpadding="0" width="600">
							<tr>
								<td valign="top">
									<table cellspacing="0" border="0" width="600" cellpadding="0" bgcolor="#484845">
										<tr>
											<td class="unsubscribe" valign="top" style="padding: 20px; color: #fff; font-size: 14px; font-family: Georgia; line-height: 20px;" width="305">
												<i>We are sorry if you felt bothered by our emails. While we still don't have one of these tiny hidden 
												"Click here to unsubscribe" links, we ask you to go to your <a style="color: white" href="http://{{ DOMAIN_NAME }}{% url 'vglist.views.edit_user' %}">preferences</a> and 
												untick the "Receive update emails" checkbox if you do not 
												wish to receive any new emails from us.</i>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<table cellspacing="0" width="100%" cellpadding="0">
							<tr>
								<td class="copyright" align="center" height="70" valign="top" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; text-align: center; line-height: 18px;" bgcolor="#484845">
									<br />
									VGList Project - Videogames Database <br />
									<a style="color: white" href="http://vglist.net/">vglist.net</a> | <a style="color: white" href="http://vglist.org/">vglist.org</a> | <a style="color: white" href="http://vglist.info/">vglist.info</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
</table>

</body>
</html>
