<p>Hello {{ user.username }}!</p>

<p>Thank you for joining VGList!</p>

<p>In order to activate your account, please open the following link in your browser</p>

<p><a href="{{ domain }}{{ action.get_run_url }}">{{ domain }}{{ action.get_run_url }}</a></p>

<p>If you wish to cancel your registration, please open the following link instead</p>

<p><a href="{{ domain }}{{ action.get_cancel_url }}">{{ domain }}{{ action.get_cancel_url }}</a></p>

<p>Thank you!</p>
