
body{
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

.description{
	height:400px;
	width:700px;
	margin:0 auto;
	margin-top:40px;
	padding:50px;
	background-color:rgba(0,0,0,0.6);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-shadow: 3px 3px 4px rgba(20, 20, 20, 1.0);
	text-align:justify;
}

.footer{
	margin-top:-35px;
}

.description h1{
	margin-top:50px;
	color:white;
	font-size:31px;
	text-shadow: 3px 3px 4px rgba(20, 20, 20, 1.0);

}

.description h2{
	color:white;
	font-size:20px;
	text-shadow: 3px 3px 4px rgba(20, 20, 20, 1.0);

}

.description h3{
	color:white;
	margin-top:40px;
	text-shadow: 3px 3px 4px rgba(20, 20, 20, 1.0);

}

a{
	color:white;
}
