#hidden
{
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
	top: -100px;
	left: -100px;
}

.clear-both{
	clear:both;
}

body
{
	background-color: transparent !important;
}

a{
	color: #330066;
}

html,body{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAASElEQVQYV2N8+eT9fwYC4PNTZgZGQgpBinil/+JXCFMEshCniciKcCpEV4RVITZFGApxKUJRiE8RXCEhRWCFd05++g8KJ0IAAH78QDT+N0q6AAAAAElFTkSuQmCC) repeat;
	height:100%;
	width:100%;
	font-family:"Signika Negative", "sans-serif" !important;
}

p, h1, h2, h3{
	font-family:'Signika Negative', 'sans-serif' !important;
	margin:0;
	padding:0;
}

p{
	font-family:"Signika Negative", "sans-serif" !important;
	font-weight:normal;
}

.description
{
	min-height:300px;
	background-color:white;	
	padding:25px !important;
	margin-top:10px;
	overflow:hidden;
	word-wrap: break-word;
	font-family:"Signika Negative", "sans-serif";
	font-size:13px;
	
}

.description b{
	font-weight:bold;
	font-size:13px;

}

.description > h1{
	margin-top:0;
	color:#16002c;
}

.description > p{
	margin-top:15px;
}

input [type=checkbox]{
	padding-right:30px;
}

.description > a{
	color:#330066;
}

.description > p > a{
	color:#330066;
}

.description > a:hover{
	color:#330066;
}

.description > p > a:hover{
	color:#330066;
}

.description > p > span > a{
	color:#330066;
}

div.boxart{
	text-align:center;
}

.container{
	min-height:calc(100% - 100px);
	min-height:-o-calc(100% - 100px);
	min-height:-moz-calc(100% - 100px);
	min-height:-webkit-calc(100% - 100px);
	min-width:1200px;
	position:relative;	
}

textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
			width:100%;
}

.big_image{
	max-width:263px;
	max-height:300px;
	margin-top:10px;
	margin-bottom:5px;
	box-shadow: 2px 2px 2px -1px #888 ;
	-o-box-shadow: 2px 2px 2px -1px #888 ;
	-moz-box-shadow: 2px 2px 2px -1px #888 ;
	-webkit-box-shadow: 2px 2px 2px -1px #888 ;
	cursor:pointer;
}

.thumbnail {
	max-width:80px;
	max-height:80px;
	border-radius:3px;
	box-shadow:0px 0px 3px solid #AEAEAE;
}

.input_preview_results{
	min-width:100px;
}
