.comments_container{
	height:auto;
	width:100%;
	min-height:155px;
	background-color:#fff;
	padding:20px;
	margin-bottom:20px;
	margin-top:55px;
	font-family:"Signika Negative", "sans-serif";
	font-size:13px;
	border-radius:5px;
}

.comments_container p{
	margin-top:30px;
}

.comments_form{
	background-color:white;
	width:100%;
	height:auto;
	border-bottom:2px solid #f0f0f0;
	margin-bottom:10px;
	border-radius:5px;
}

.comments_form > .comments_form_header > h2.commentsnum{
	color:white;
	float:right;
	margin-right:15px;
	font-weight:300;
	font-size:16px;
	color:white;
	padding-top:2px;
}

.comments_form > .comments_form_header > h2.comments_title{
	color:white;
	text-align:left;;
	margin-left:15px;
	font-weight:300;
	float:left;
	font-size:18px;
}

.comments_form > .comments_form_header{
	background-color:#644F75;
	position:absolute;
	width:1200px;
	margin-left:-20px;
	margin-top:-55px;
	padding:5px;
	border-radius:3px;
}

.spButton_comments{
	height:25px;
	width:50px;
	font-size:15px !important;
	margin-bottom:10px;
	padding:0;
	padding-top:2px;
	margin-top:-10px;
}

.spButton_comments:hover{
	height:25px;
	width:50px;
	font-size:15px !important;
	margin-bottom:10px;
	padding:0;
	padding-top:2px;
}


.input_comment_text{
	height:30px;
	padding-top:2px;
	padding-left:8px;
	display:pointer;
}

.post_avatar{
	float:left;
	width:120px;
	height:90px;
}

.post_avatar img{
	border-radius:3px;
	max-width:80px;
	max-height:80px;
}

.post_input_wrapper{
	width:calc(100% - 120px);
	width:-o-calc(100% - 120px);
	width:-moz-calc(100% - 120px);
	width:-webkit-calc(100% - 120px);
	height:auto;
	margin-top:-1px;
	margin-left:120px;
}

.comment_row{
	background-color:#fff;	
	border-radius:3px;
	min-height:90px;
	padding-bottom:5px;
	padding-top:5px;
	word-break:normal;
	word-wrap: break-word;
	overflow:hidden;
}

.comment_row p {
	white-space:pre-line;
	margin:0;
}

.comment_avatar{
	float:left;
	width:10%;
	min-height:90px;
	min-width:90px;
	margin-left:-15px;
}

.comment_avatar img {
	border-radius:3px;
	float:right;
	margin:5px;
	padding-right:8px;
	max-width:80px;
	max-height:80px;
}

.comment_text_wrapper{
	float:right;
	height:auto;
	width:91%;
	min-width:300px;
	padding-top:5px;
	margin-bottom:5px;
	min-height:80px;
	border-bottom:1px solid #f0f0f0;
}

.comment_text_title{
	height:20px;
	width:100%;
}

.comment_text_title .username{
	font-size:14px;
	color:#330066;
}

.comment_text{
	height:auto;
	min-height:30px;
	width:100%;
}

.comment_text_footer{
	padding:0;
	height:25px;
	margin-top:5px;
	margin-bottom:-3px;
	overflow:hidden;
	text-align:right;
	padding-right:5px;
}

a.reply{
	color:#a8a8a8;
	display:pointer;
}

a.reply:hover{
	color:#330066;
	display:pointer;	
}

a.reply:active{
	display:pointer;	
}

a.reply > img{
	max-height:25px;
	padding-bottom:5px;
}

span.bullet{
	font-size:16px;
	font-weight:bold;
	padding-right:5px;
	padding-left:1px;
	color:#c0c0c0;
}

span.comment_date{
	color:#909090;
}

div.commentsarea_footer{
	background-color:#644F75;
	width:1200px;
	margin-left:-20px;
	position:absolute;
	text-align:center;
	padding-top:6px;
	padding-bottom:5px;
	border-radius:3px;
}

.commentsarea_footer > a{
	font-size:15px;
	font-family:"Signika Negative", "sans-serif";
	color:white;
	font-weight:300;
}
.commentsarea_footer > a:hover{
	color:white;
	font-weight:300;
}

.commentsarea_footer > a:active{
	color:white;
	font-weight:300;
}

.commentsarea_footer > a:visited{
	color:white;
	font-weight:300;
}
