.header > .context_menu_container{
	height:100%;
	width:150px;
	float:right;
	margin-right:10px;
}

.header > .context_menu_container:hover{
	background-color:#826798;
	cursor:pointer;
	height:52px;
	box-shadow:0px 0px 1px black;
}

.header > .context_menu_container > .game_menu{
	width:auto;
	height:auto;
}

.header > .context_menu_container > .game_menu > h2{
	font-size:16px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	margin-top:18px;
	text-align:center;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .context_menu_container > .game_dropdown{
	height:auto;
	width:150px;
	background-color:#644F75;
	padding-left:15px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;	
	float:left;
	display:none;
	margin-top:-9px;
}

.header > .context_menu_container > .game_dropdown > p{
	font-size:15px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	width:100%;
	text-align:left;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .context_menu_container > .game_dropdown > p:hover{
	padding-left:3px;
}

.header > .context_menu_container > .game_dropdown > p:active{
}

.header > .context_menu_container > .game_dropdown_safetymousearea{
	width:150px;
	height:20px;
	right:0px;
	top:90px;
	float:left;
	margin-top:10px;
	cursor: normal;
	background-color:transparent;
}

.header > .context_menu_container > .game_dropdown_safetymousearea > .game_arrow{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid #644F75;	
	margin-top:0px;
	float:right;
	margin-right:10px;
	display:none;
}

.header > .context_menu_container > .game_dropdown > .game_drop_hr{
	height:2px;
	background-color:white;
	width:130px;
	margin-top:5px;
	margin-bottom:5px;
}

.game_version{
	height:30px;
	background-color:#493868;
	text-align:left;
	color:white;
	font-weight:bold;
	font-size:17px;
	font-family:"Signika Negative", "sans-serif" !important;
	padding-top:4px;
	padding-left:6px;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
	cursor:pointer;
}

.game_version > img{
	float:right;
	max-width:15px;
	max-height:15px;
	margin-right:10px;
	margin-top:4px;
}

.game_version_dropdown{
	position:absolute;
	width:calc(100% - 20px);
	width:-o-calc(100% - 20px);
	width:-moz-calc(100% - 20px);
	width:-webkit-calc(100% - 20px);
	padding:5px;
	background-color:#493868;
	display:none;
	margin-right:10px;
	margin-left:10px;
	z-index:100;
}

.game_version_dropdown > p{
	cursor:pointer;
	color:white;
	font-size:17px;
	font-weight:bold;
	text-align:left;
	width:100%;
}

.game_version_dropdown > p:hover{
	background-color:#5b4682;
	padding-left:3px;
}

.game_version_dropdown > p > a{
	cursor:pointer;
	color:white;
	text-decoration:none;
}
