div.image_overlay
{
	background-color:#fdfdfd;
	border:2px solid gray;
	text-align:center;
	padding:20px;
	width: 1000px;
	height: 100%;
}

div.image_overlay > div
{
	width: 100%;
}

div.image_overlay > div.image_wrapper
{
	height: calc(100% - 32px);
}

div.image_overlay > div.subtitle_wrapper
{
	height: 32px;
	
	padding-top: 12px;
	
	font-weight: bold;
}

div.image_overlay > div.image_wrapper > img
{
	max-width: 100%;
	max-height: 100%;
}
