input{
	background-color:white;
}

a{
	color:#330066;
}

.list_container{
	width:93%;
}

.leftbar{
	position:fixed;
	width:19%;
	height:100%;
	margin-left:2.3%;
	max-width:300px;

}

.leftbar_menu{
	text-align:center;
	padding:20px;
	margin-top:10%;
	background-color:white;
	
}

.rightbar{
	width:80%;
	height:auto !important;
	margin-left:25%;
	min-height:1000px;
}

.filters_wrapper{
	text-align:left;
	margin-left:30%;
	margin-right:25%;
}

input[type='checkbox']{
	margin-right:5px;
}


.list_gamerow{
	height:40px;
}

.list_table{
	width:100%;
	margin-bottom: 20px;	
}
.list_table > thead > tr > th,
.list_table > tbody > tr > th,
.list_table > tfoot > tr > th,
.list_table > thead > tr > td,
.list_table > tbody > tr > td,
.list_table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.list_table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.list_table > caption + thead > tr:first-child > th,
.list_table > colgroup + thead > tr:first-child > th,
.list_table > thead:first-child > tr:first-child > th,
.list_table > caption + thead > tr:first-child > td,
.list_table > colgroup + thead > tr:first-child > td,
.list_table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.list_table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.list_table .list_table {
  background-color: #ffffff;
}

.list_table thead{
	cursor:pointer;
}

tr.selected{
	background-color:#eff3eb;
}

.arrow{
	margin-left:5px;
}

.input_table_cell{
	border-color:transparent;
	padding:0;
	margin:0;
}

.input_table_cell:focus{
	border:1px solid gray;
}

.score_input{
	width:30px;
}

.status_input{
	width:100%;
}

th.name{
	width:53%;
}

th.wished_name{
	width:53.7%;
}

th.platform{
	width:16%;
}

th.wished_platform{
	width:28.3%;
}

th.score{
	width:12%;
	padding-left:19px !important;
}

th.status{
	width:12%;
}

th.wished_status{
	width:25%;
}

th.hidden_submit{
	width:7%;
	text-align:center;
}
