.sidebar {
	 position: fixed;
	 width: 300px;
	 background: white;
	 border-radius:5px;
}

.sidebar > .sidebar-profile-info{
	width:100%;
	padding:10px 20px;
	padding-bottom:12px;
	min-height:70px;
	border-bottom:1px solid #E1E1E1;
}


.sidebar > .sidebar-profile-info:hover{
	background-color:#F7F7F7;
	cursor:pointer;
	 border-radius:5px;

}

.sidebar > .sidebar-profile-info > .img-info {
	margin-left:69px;
	margin-top:-50px;
	font-size:16px;
	color:#A5A5A5;
}

.content {
	 margin-left: 315px;
	 min-height: 600px;
	 width: auto;
	 position: relative;
	 overflow: auto;
	 z-index: 1;
}

.content > .latest-news{
	width:100%;
	padding:20px 30px;
	background-color:white;
	border-radius:5px;
}

.content > .latest-news > h1{
	margin-top:0;
	margin-bottom:3px;
	padding-bottom:3px;
	font-size:25px;
}

.content > .latest-news > hr{
	margin-top:10px;
}

.content > .latest-news > .news_entry{
	padding:20px 30px;
	width:100%;
	text-align:justify;
	background-color:#FDFDFD;
	border-radius:4px;
	cursor:pointer;
	margin-bottom:5px;
}

.content > .latest-news > .news_entry:hover{
	background-color:#F5F5F5;
	border-color:1px solid #ccc;
}
.content > .latest-news > .news_entry > h3{
	font-size:17px;
}

.content > .latest-news > .news_entry > h3 > .date{
	font-weight:normal;
	color:#B7B7B7;
	font-size:15px;
	margin-left:5px;
	float:right;
}

.content > .latest-news > .news_entry > h3 > .date > img{
	max-height:18px;
	margin-right:5px;
	opacity:0.3;
	margin-top:-5px;
}

.content > .latest-news > .news_entry > .author{
	font-weight:normal;
	color:#989898;
	font-size:15px;
	margin-left:5px;	
}

.content > .latest-news > .news_entry > .author > img{
	max-height:14px;
	opacity:0.2;
	margin-top:-3px;
	margin-right:5px;
}

.content > .latest-news > .news_entry > .author > a{
	color:#989898;
	text-decoration:underline;
}

.content > .latest-news > .news_entry > .author > a:hover{
	color:#BBBBBB;
}

.content > .latest-news > .news_entry > .text_preview{
	text-align:justify;
	font-size:14px;
	padding:10px 10px 2px;
}

.content > .latest-added-games{
	width:100%;
	padding:20px 30px;
	background-color:white;
	border-radius:5px;
	margin-top:15px;
}

.content > .latest-added-games > h1{
	margin-top:0;
	margin-bottom:3px;
	padding-bottom:3px;
	font-size:25px;
}

.content > .latest-added-games > hr{
	margin-top:10px;
}

.games_container{
	width:100%;
	text-align:center;
}

.games_container > .game_entry{
	width:100%;
	padding:20px 30px;
	width:100%;
	text-align:justify;
	background-color:#F8F8F8;
	border-radius:4px;
	cursor:pointer;
	margin-bottom:5px;
	height:115px;
}

.games_container > .game_entry:hover{
	background-color:#F2F2F2;
	border-color:1px solid #ccc;
}



.games_container > .game_entry > .left{
	width:80px;
	height:80px;
	float:left;
}

.games_container > .game_entry > .left{
	max-height:40px;

}

.games_container > .game_entry > .right{
	width:calc(100% - 85px);
	width:calc(100% - 85px);
	float:right;
	min-width:200px;
	min-height:40px;
	z-index:1;
	padding:7px 10px;
}

.content > .latest-comments{
	width:100%;
	padding:20px 30px;
	background-color:white;
	border-radius:5px;
	margin-top:15px;
}

.content > .latest-comments > h1{
	margin-top:0;
	margin-bottom:3px;
	padding-bottom:3px;
	font-size:25px;
}

.content > .latest-comments > hr{
	margin-top:10px;
}

.latest-comments-container{
	width:100%;
	text-align:center;
}

.content h1{
	color:#7B7B7B;
}

h1 > img{
	padding-right:7px;
	max-width:30px;
}


