.typeof_edit{
	color:#9C9C9C;
	margin:0px;
	margin-top:20px;
	margin-left:10px;
	margin-bottom:-6px;
	padding:0px;
}

.edit_block{
	width:100%;
	height:auto;
	padding:10px 20px;
	text-align:center;
}

.edit_block > p{
	font-size:17px;
	padding-bottom:8px;
	padding-top:20px;
	
}

.edit_block > form > table{
	width:100%;
	text-align:center;
	margin-bottom:15px;
}

.edit_block > form > table > tr{
	min-height:40px;

}

.spacy{
	padding-top:20px;
}

.edit_block > table{
	width:100%;
	text-align:center;
	margin-bottom:15px;
}

.edit_block > table > tr{
	min-height:40px;

}

.label-top{
	vertical-align:top;
	margin-top:40px;
}

textarea{
	width:360px;
	text-align:justify;
}

.label{
	width:40%;
	text-align:right;
	padding-right:20px;
	padding-top:6px;
	font-size:17px;
	font-weight:300;
}

.input{
	width:60%;
	text-align:left;
}

.bootstrap-select > .btn {
	width:200px !important;
	padding-top:7px;
}

.bootstrap-select {
	width: 200px !important;
}

