.profile_banner{
	background-color:gray;
	padding:30px;
	text-align:center;
	height:380px;
	width:1200px;
   -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
}

.profile_banner > h1{
	text-shadow:1px 1px 2px rgba(0,0,0,0.9);
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:-1pt;
	word-spacing:2pt;
	font-size:35px;
	text-align:center;
	margin-top:10px;
	margin-bottom:-5px;
}

.profile_banner > p{
	text-shadow:0px 0px 2px rgba(0,0,0,1);
	font-weight:normal;
	color:#FFFFFF;
	letter-spacing:-1pt;
	word-spacing:2pt;
	font-size:17px;
	text-align:center;
	margin-top:10px;
}

.profile_banner > img{
	max-height:150px;
	background-color:#ccc;
	box-shadow: 0px 0px 2px -1px black ;
	-o-box-shadow: 0px 0px 2px -1px black ;
	-moz-box-shadow: 0px 0px 2px -1px black ;
	-webkit-box-shadow: 0px 0px 2px -1px black ;
}

.profilebuttons_container{
	height:60px;
	margin-top:-30px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;

}

.profilebuttons_container > .profilebutton{
	min-width:150px;
	height:60px;
	padding-top:20px;
	font-size:17px;
	color:#303030 !important;
	display:inline-block;
	padding-right:11px;
	padding-left:11px;
}

.profilebuttons_container > .profilebutton_nohover{
	min-width:150px;
	height:60px;
	padding-top:20px;
	font-size:17px;
	color:#303030 !important;
	display:inline-block;
	padding-right:11px;
	padding-left:11px;
}

.profilebuttons_container > .profilebutton_nohover:hover{
	border-bottom:2px solid #395f39;
	cursor:pointer;
	background-color:#eff5ef;
}

.profilebuttons_container > .profilebutton_nohover > img{ 
	max-height:23px;
	padding-right:4px;
	margin-top:-2px;
}
.profilebuttons_container > .profilebutton > img{ 
	max-height:23px;
	padding-right:4px;
	margin-top:-2px;
}

.profilebuttons_container > .profilebutton:hover{
	border-bottom:2px solid blue;
	cursor:pointer;
	background-color:#f3f3f3;
}

.profilebio_container{
	margin-left:auto !important;
	margin-right:auto !important;
	padding:20px;
}

.profilebio_container > p{
	font-size:15px;
	text-align:justify;
}

.profilebio_container > .bio_not_written > p{
	text-align:center;
	font-weight:100 !important;
	font-size:18px;
}
