.registerbg{
	min-width:100%;
	min-height:100%;
}

.registerbg > .register_content{
	width:100%;
	padding:30px 90px 30px;
	background-color:transparent;
	position: relative;
	padding-top:5%;
}

.registerbg > .register_content > .register_container{
	height:455px;
	width:700px;
	background-color:white;
	border-radius:7px;
	padding:20px 30px;
	text-align:center;
}
.registerbg > .register_content > .register_container > .left > p{
	margin-top:4px;
}

.registerbg > .register_content > .register_container > .left{
	float:left;
	width:60%;
	border-right:1px solid #D4D4D4;
}

.registerbg > .register_content > .register_container > .left > form > div{
	margin-top:10px;
	text-align:center;
	width:340px;
	padding:0px 15px;
	padding-right:0px;
}
.registerbg > .register_content > .register_container > .left > form > div > label{
	font-size:13px;
	text-align:justify;
	padding-right:10px;
	margin-left:6px;
}

.registerbg > .register_content > .register_container > .right{
	float:right;
	width:40%;
	padding:40px 10px;
}
.registerbg > .register_content > .register_container > .right > p{
	margin-top:10px;
	font-style:italic;
	text-align:justify;
}


.registerbg > .register_content > h1  {
	color:white;
	font-size:55px;
	margin-top:0;
	margin-bottom:5px;
	letter-spacing:-2pt;
	text-shadow: 3px 1px 5px #4A4A4A;
}


.inptbootstraplike2{
	border:none;
	border-radius:3px;
	padding:2px 10px;
	color:#656565;
	font-weight:300;
	font-family:arial;
	font-size:18px;
	width:360px;
	height:45px;
	display:inline-block;
	margin-top:-1px;
	vertical-align:middle;
	margin-top:7px;
	border:1px solid #e2cef2;
}
.inptbootstraplike2:focus{
	-webkit-box-shadow: 0px 0px 6px 2px rgba(100, 79, 117, 0.77);
	-moz-box-shadow:    0px 0px 6px 2px rgba(100, 79, 117, 0.77);
	box-shadow:         0px 0px 6px 2px rgba(100, 79, 117, 0.77);
}

.advice{
	width:100%;
	color:white;
	font-weight:bold;
	background: rgba(161, 0, 0, 0.7);
	height:40px;
	top:0;
	position:fixed;
	text-align:center;
	padding-top:8px;
	font-size:17px;
	display:none;
}

.advice > img{
	max-height:22px;
	margin-top:-3px;
}

#message > a{
	color:white;
	text-decoration: underline;
}

