
.staff_entry:nth-child(1){
	border-top:1px solid #bed1d1;
}

.staff_entry{
	background-color:#fff;
	border-bottom:1px solid #bed1d1;
	padding:20px;
}

.staff_entry:hover{
	background-color:#efedf1;
	cursor:pointer;
}

.staff_entry > img{
	max-width:70px;
	max-height:70px;
	box-shadow: 0px 0px 2px #888;
	margin-right:20px;
}

.staff_entry > span{
	font-size:18px;
	font-weight:300;

}


