.header > .context_menu_container{
	height:100%;
	width:150px;
	float:right;
	margin-right:10px;
}

.header > .context_menu_container:hover{
	background-color:#826798;
	cursor:pointer;
	height:52px;
	box-shadow:0px 0px 1px black;
}

.header > .context_menu_container > .studio_menu{
	width:auto;
	height:auto;
}

.header > .context_menu_container > .studio_menu > h2{
	font-size:16px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	margin-top:18px;
	text-align:center;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .context_menu_container > .studio_dropdown{
	height:auto;
	width:150px;
	background-color:#644F75;
	padding-left:15px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;	
	float:left;
	display:none;
	margin-top:-9px;
}

.header > .context_menu_container > .studio_dropdown > p{
	font-size:15px;
	font-weight:semibold;
	letter-spacing:-0.03em;
	line-height:100%;
	width:100%;
	text-align:left;
	cursor:pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.header > .context_menu_container > .studio_dropdown > p:hover{
	padding-left:3px;
}

.header > .context_menu_container > .studio_dropdown > p:active{
}

.header > .context_menu_container > .studio_dropdown_safetymousearea{
	width:150px;
	height:20px;
	right:0px;
	top:90px;
	float:left;
	margin-top:10px;
	cursor: normal;
	background-color:transparent;
}

.header > .context_menu_container > .studio_dropdown_safetymousearea > .studio_arrow{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 14px solid #644F75;	
	margin-top:0px;
	float:right;
	margin-right:10px;
	display:none;
}

